* {
    margin:0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}
#container {
    width: 750px;
    margin: 0 auto;
    
}
#topo {
    height: 150px;
    border: 1px solid red;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}
.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}
/*Barra de navegação*/
 ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
 
}
#topo ul li{
    float: left;
    background: red;
}


#topo ul a{
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    color: white;
    display: block;
    line-height: 2.1em;
    text-decoration: none;
    background: url(../imagens/divisor.png)no-repeat right;
}
#topo .ultimo a {
    background-image: none;
}
#topo ul a:hover{
    color: #69001d;
}
body.home #navegacao a#home,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.brasil #navegacao a#brasil,
body.interncional #navegacao a#internacional,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{
    background: orangered;
    color: white;
    cursor: text;
}
#conteudo {
    background: #f5f5f5;
    margin-top: 60px;

}
#primario {
    width: 555px;
    float: left;
    margin: 0 0 20px 195px;
}
#tres-colunas #primario {
    width: 270px;
}
#duas-colunas #primario {
    width: 555px;

}
#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0px;
}
#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}
.caixa {
    margin: 10px 0px;
    padding: 5px;
    background: #f3f3f3 url('../imagens/fundo-caixa.png');
}
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
h2{
    font-size: 1.1em;
    color: white;
    background: #294c71;
    padding: 5px;
}
#lateral ul a{
    text-decoration: none;
    font-size: 0.9em;
   padding: 3px;
    line-height: 30px;
    color: black;
    border-bottom: 1px solid #f3f3f3;
    display: block;
    
}
#lateral ul a:hover{
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left;
    color: #a1a1a1;
    padding-left: 20px;
    
}


/*Formulário*/
label {
    display: block;
    cursor: pointer;
}
input {
    font-size: 0.9em;
    background-color: white;
    padding: 5px;
    width: 125px;
}
input.submit{
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
}

/*Rodapé*/
#container-rodape{
    background: #294c71;
    padding: 20px;
    
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
